* {
    box-sizing: border-box;
}

button {
    display: block;
    margin: auto;
}

body {
    background: 
        url(https://cdn.pixabay.com/photo/2016/04/30/14/58/music-1363069_1280.jpg);
    font-family: Garamond;
    font-size: 22px;
    color: darkgreen;
}

.main_title {
    text-align: center;
}

.intro {
    display: block;
    margin: auto;
}

.main_window {
    display: block;
    width: 50%;
    height: 500px;
    border: 2px black solid;
    border-radius: 3px;
    margin: auto;
    padding: 20px;
}

.main_window p {
    text-align: center;   
}

.answer_formatter {
    display: block;
}

.footer_counters {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}
