* {
    box-sizing: border-box;
}

.main_title {
    text-align: center;
    color: blue;
}

.main_window {
    display: block;
    width: 50%;
    height: 500px;
    border: 2px black solid;
    border-radius: 3px;
    margin: auto;
}

.main_window p {
    text-align: center;
    
}

.footer_counters {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between
}

.count_container {

}

