* {
    box-sizing: border-box;
}

.main_title {
    text-align: center;
    color: blue;
}

.intro {
    display: block;
    margin: auto;
}

.begin_button {
    display: block;
    margin: auto;
}

.main_window {
    display: block;
    width: 50%;
    height: 500px;
    border: 2px black solid;
    border-radius: 3px;
    margin: auto;
    padding: 20px;
}

.main_window p {
    text-align: center;   
}

.answer_formatter {
    display: block;
}

.footer_counters {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between
}
